<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE AUCTIONEER</span></h5>
    <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/127717680_2467205706906707_8746569754352498820_o.jpg?_nc_cat=104&ccb=2&_nc_sid=e3f864&_nc_ohc=pCXFtFXGPNIAX8qqfax&_nc_ht=scontent-ort2-2.xx&oh=eebb8a39e7314d5903ce2d547a463d2a&oe=5FEB1503"
         alt="Eric" width="600" height="600">
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"A Depuaw native that wants to give back to his hometown with exceptional service. Eric has been
        in the auction business for 6 years with all great reviews. To schedule an auction please enter your information in the "Contact" page."</i></p>
      <p>Auctioneer: Eric Stroud</p>
    </div>

  </div>
</div>
