<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h2> Upcoming Auctions</h2>

<div *ngIf="selectedAuction">
  <h3>{{( selectedAuction | async)?.date}} @ {{( selectedAuction | async)?.address}}</h3>

  <div><span class="inline-title">Company:</span> {{( selectedAuction | async)?.company}}</div>
  <div><span class="inline-title">Auctioneer:</span> {{( selectedAuction | async)?.auctioneer}}</div>
  <div><span class="inline-title">Contact:</span> {{( selectedAuction | async)?.contact}}</div>
  <div><span class="inline-title">Time:</span> {{( selectedAuction | async)?.time}}</div>

  <div class="title">Key Items</div>
  <table class="table table-striped">
    <tr *ngFor="let day of (selectedAuction | async)?.items">
      <td>{{day}}</td>
    </tr>
  </table>
</div>
</body>

<!--
    <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Cars</th>
      <th scope="col">Collectables</th>
      <th scope="col">Decor</th>
      <th scope="col">Glassware</th>
      <th scope="col">Signage</th>
      <th scope="col">Firearms</th>
      <th scope="col">Misc</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let day of (selectedAuction | async)?.items">
        <td>{{day}}</td>
      </tr>
    </tbody>
  </table>
-->
