<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
  body {font-family: "Open Sans"}
</style>

<header class="w3-container w3-center w3-padding-48 w3-indigo">
  <h1 class="w3-xxxlarge"><b>{{"Welcome to Strouds Auction Service"}}</b></h1>
</header>

<body>
<div class="left">
  <app-sidebar></app-sidebar>
</div>
</body>
<style>
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
</style>

<footer class="w3-padding-64 w3-white w3-small w3-center" id="footer">
  <div class="w3-row-padding">
    <div class="w3-col s4">
      <app-rating-stars></app-rating-stars>
    </div>

    <div class="w3-col s4">
      <img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-9/10252105_227832197412393_8630341555930865723_n.jpg?_nc_cat=105&ccb=2&_nc_sid=dd9801&_nc_ohc=3dxHzZEgLbwAX_YiT60&_nc_ht=scontent-msp1-1.xx&oh=8f99908f0c649b3b02421f21e6fecb1e&oe=5FFC46F9" width="500" height="250">
    </div>


    <div class="w3-col s4 w3-justify">
      <p><i class="fa fa-fw fa-map-marker"></i> Stroud's Auction Service</p>
      <p><i class="fa fa-fw fa-phone"></i> 812-267-1122</p>
      <p><i class="fa fa-fw fa-envelope"></i> stroud@mail.com</p>
      <h4>We accept</h4>
      <p><i class="fa fa-fw fa-money"></i> Cash</p>
      <p><i class="fa fa-fw fa-credit-card"></i> Check</p>
      <br>
    </div>
  </div>
</footer>
