<div>
<ngb-rating [rate]="5"></ngb-rating>
  <p><b>"Eric is the best auctioneer around!" -Lisa S</b></p>

<ngb-rating [rate]="4.5"></ngb-rating>
  <p><b>"Best rates around!!" -John T</b></p>

<ngb-rating [rate]="3"></ngb-rating>
  <p><b>"Good but could be better" -Cody S</b></p>

<ngb-rating [rate]="5"></ngb-rating>
  <p><b>"Id go to him over Beckort" -Kim R</b></p>


</div>
<body>
<img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-9/10252105_227832197412393_8630341555930865723_n.jpg?_nc_cat=105&ccb=2&_nc_sid=dd9801&_nc_ohc=ZA4H9DINflEAX8k1njT&_nc_ht=scontent-msp1-1.xx&oh=82616081f8689bdd01bc3a3e0bb98e0e&oe=5FD0C579" width="700" height="333">

</body>
